<%- include ("shares/header") %>
    <section>
        <div class="page-content">
            <div class="page-content">
                <div class="bar-add">
                    <i class="fas fa-home"><a href="#" id="indexPage">   <%= user.name %></a> <i class="fas fa-chevron-right"></i>
                    <button data-owner="<%= user.role %>" id="btn-new-notification"
                        class="btn btn-create-faculty">Tạo mới phòng ban</button>
                    </i>
                </div>
                <div class="containerABC " >
                    <table class="table align-middle">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Role</th>
                                <th scope="col">Name </th>
                                <th scope="col" style="padding-right: -5rem !important;">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% if(faculties) { %>
                                <% faculties.forEach((faculty,index)=> { %>
                            <tr>
                                <th scope="row"><%= (index+1) %></th>
                                <td> <%= faculty.role %></td>
                                <td>  <%= faculty.name %></td>
                                <td>
                                    <button type="button" class="btn btn-success btn-sm px-3">
                                        <i class="fas fa-user-edit"></i>
                                    </button>
                                    <button type="button" class="btn btn-danger btn-sm px-3">
                                        <i class="fas fa-times"></i>
                                    </button>
                                </td>
                            </tr>
                            <% }) %>
                                <% } %>
                        </tbody>
                    </table>



                </div>

            </div>
        </div>
    </section>

    <!-- The Modal -->
    <div id="modalAddFacul" class="modal">
        <!-- Modal content -->
        <div class="modal-content">
            <span class="close">&times;</span>
            <div class="containerForm">
                <form method="post" action="/admin/register">
                <div class="row">
                  <div class="col-25">
                    <label for="facultyName">Tên Phòng/Khoa</label>
                </div>
                  <div class="col-75">
                    <input type="text" name="name" placeholder="Nhập tên khoa..." id="hello1">
                </div>
                </div>
                <div class="row">
                  <div class="col-25">
                    <label for="username">Tên đăng nhập</label>
                </div>
                  <div class="col-75">
                    <input type="text" name="username" placeholder="Nhập tên đăng nhập" id="hello2">
                </div>
                </div>
                <div class="row">
                    <div class="col-25">
                        <label for="password">Mật khẩu</label>
                    </div>
                    <div class="col-75">
                        <input type="password" name="password" placeholder="Nhập Mật khẩu">
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-25">
                        <label for="username">Role</label>
                    </div>
                    <div class="col-75">
                        <input type="text" name="role" placeholder="Nhập Role">                    </div>
                     </div>
                  <div class="row">
                    <div class="col-25">
                        <label for="email">Email</label>
                    </div>
                    <div class="col-75">
                        <input type="email" name="email" placeholder="Nhập Email">
                    </div>
                    </div>

                <div class="row">
                    <div class="col-25">
                        <label for="categories">Chuyên đề</label>
                    </div>
                    <div class="col-75">
                        <input type="text" name="categories" placeholder="Các chuyên đề phụ trách">
                    </div>
                </div>
                <div class="row">
                  <div class="col-25">
                    <label for="categories">Tùy chọn</label>
                </div>
                  <div class="col-75">
                    <select id="country" name="country">
                        <option value="cntt">Khoa CNTT</option>
                        <option value="mtcn">Khoa MTCN</option>
                        <option value="xhnv">Khoa XHNV</option>
                        <option value="xhnv">Khoa XHNV</option>
                        <option value="mt-bhld">Khoa MT-BHLD</option>
                    </select>
                  </div>
                </div>
                <div class="row">
                  <input type="submit" value="Submit" id="create-PB">
                </div>
                </form>
             </div>
        </div>

    </div>
    </div>
    </div>


    <script>
        var modal = document.getElementById("modalAddFacul");
        var btn = document.getElementById("btn-new-notification");
        var span = document.getElementsByClassName("close")[0];
        btn.onclick = function () {
            modal.style.display = "block";
        }
        span.onclick = function () {
            modal.style.display = "none";
        }
        window.onclick = function (event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }

    </script>

    <%- include ("shares/footer") %>