<%- include ("../shares/header") %>
    <section>
        <div class="page-content">
            <div class="page-content">
                <% if(user ) { %>
                        <div class="search-form-section">
                            <form id="search-form" class="search-form">
                                <select name="filter" id="filter-select">
                                    <option selected value="">Chọn Phòng khoa</option>
                                    <% if(faculties) { %> 
                                        <% faculties.forEach(faculty => { %>
                                            <option value="<%= faculty._id %>"><%= faculty.name %> </option>
                                        <% }) %> 
                                    <% } %>         
                                </select>
                            </form>
                        </div>
                <% } %>

                <div class="containerABC">
                    <div class="grid">
                        <% if(notifications) { %>
                            <% notifications.forEach(noti => { %>
                        <div class="row">
                            <div class="notification">
                                <div class="notification__header">
                                    <div class="notification__title" >
                                        <div style="display: inline-block;" >
                                            <span class="notification__title--text text-Big">
                                             <%= noti.title %>                                            
                                            </span>
                                        </div>
                                        <br>
                                        <span>
                                            <%= noti.briefText %>
                                        </span>
                                    </div>
                                
                                </div>

                                 <div class="notification__footer">
                                            <div class="footer__detail">
                                                <a href="/notifications/detail/<%= noti._id %> " class="footer__detail--link">Chi tiết thông báo</a>
                                            </div>
                                            <div class="footer__info">
                                                <div class="footer__info--owner">
                                                    <%= noti.owner %>
                                                </div>
                                                <div class="footer__info--date">Ngày đăng: <%= new
                                                        Date(noti.createdAt).toLocaleDateString() %>
                                                        <%= new Date(noti.createdAt).toLocaleTimeString() %>
                                                </div>
                                            </div>
                                        </div>
                            </div>
                        </div>
                        <% }) %>
                                    <% } else { %>
                                        <div class="empty-alert">Chưa có thông báo nào</div>
                                        <% } %>
                    <div class="page">
                        <div class="pagination " >
                            <a href="#">&laquo;</a>
                            <a href="#">1</a>
                            <a class="active" href="#">2</a>
                            <a href="#">3</a>
                            <a href="#">4</a>
                            <a href="#">5</a>
                            <a href="#">6</a>
                            <a href="#">&raquo;</a>
                          </div>
                    </div>
                       
                    </div>
                </div>

                
            </div>

        </div>
        </div>
    </section>
    <script>
        $('#filter-select').on('change', function () {
                  var url = $(this).val(); // get selected value
                  if (url) { // require a URL
                      window.location = '/notifications/pagesByFacul/' + url + '/1' // redirect
                  }
                  return false;
              });
            </script>

    <%- include ("../shares/footer") %>