<%- include ("../shares/header") %>
<link rel="stylesheet" href="/css/admin.css">
    <div>
        <div class="page-content">
            <div class="page-content">
                <% if(user ) { %>
                        <div class="search-form-section">
                            <form id="search-form" class="search-form">
                                <select name="filter" id="filter-select">
                                    <option selected value="">Chọn Phòng khoa</option>
                                    <% if(faculties) { %> 
                                        <% faculties.forEach(faculty => { %>
                                            <option value="<%= faculty.email %>"><%= faculty.name %> </option>
                                        <% }) %> 
                                    <% } %>         
                                </select>
                            </form>
                        </div>
                <% } %>

                <div class="containerABC">
                    <div class="grid">
                        <% if(notifications) { %>
                            <% notifications.forEach(noti => { %>
                        <div class="row">
                            <div class="notification">
                                <div class="notification__header">
                                    <div class="notification__title" >
                                        <div style="display: inline-block;" >
                                            <span class="notification__title--text text-Big">
                                             <%= noti.title %>                                            
                                            </span>
                                        </div>
                                        <br>
                                        <span>
                                            <%= noti.briefText %>
                                        </span>
                                    </div>
                                
                                </div>

                                 <div class="notification__footer">
                                            <div class="footer__detail">
                                                <a href="/notifications/detail/<%= noti._id %> " class="footer__detail--link">Chi tiết thông báo</a>
                                            </div>
                                            <div class="footer__info">
                                                <div class="footer__info--owner">
                                                    <%= noti.userName %>
                                                </div>
                                                <div class="footer__info--date">Ngày đăng: <%= new
                                                        Date(noti.createdAt).toLocaleDateString() %>
                                                        <%= new Date(noti.createdAt).toLocaleTimeString() %>
                                                </div>
                                            </div>
                                        </div>
                            </div>
                        </div>
                        <% }) %>
                                    <% } else { %>
                                        <div class="empty-alert">Chưa có thông báo nào</div>
                                        <% } %>
                    <div class="page">
                        <% if (pages > 0) { %>
                            <ul class="pagination text-center">
                                <% if (current == 1) { %>
                                    <li class="pagination-item item-first disabled"><a>First</a></li>
                                <% } else { %>
                                    <li class="pagination-item item-first" ><a href="/notifications/pages/1">First</a></li>
                                <% } %>
                                <% var i = (Number(current) > 5 ? Number(current) - 4 : 1) %>
                                <% if (i !== 1) { %>
                                    <li class="pagination-item disabled"><a>...</a></li>
                                <% } %>
                                <% for (; i <= (Number(current) + 4) && i <= pages; i++) { %>
                                    <% if (i == current) { %>
                                        <li class="pagination-item active"><a><%= i %></a></li>
                                    <% } else { %>
                                        <li class="pagination-item "><a href="/notifications/pages/<%= i %>"><%= i %></a></li>
                                    <% } %>
                                    <% if (i == Number(current) + 4 && i < pages) { %>
                                        <li class="pagination-item disabled"><a>...</a></li>
                                    <% } %>
                                <% } %>
                                <% if (current == pages) { %>
                                    <li class="pagination-item item-last disabled"><a>Last</a></li>
                                <% } else { %>
                                    <li class="pagination-item item-last"><a href="/notifications/pages/<%= pages %>">Last</a></li>
                                <% } %>
                            </ul>
                        <% } %>
                    </div>
                    
                       
                    </div>
                </div>

                
            </div>

        </div>
        </div>
    </div>
    <script>
        $('#filter-select').on('change', function () {
                  var url = $(this).val(); // get selected value
                  if (url) { // require a URL
                      window.location = '/notifications/pagesByFacul/' + url + '/1' // redirect
                  }
                  return false;
              });
            </script>

    <%- include ("../shares/footer") %>